packages:
  yum:
    git: []
    postgresql93-devel: []
    libjpeg-turbo-devel: []
    libpng-devel: []
    freetype-devel: []

container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_collectestatics:
    command: "django-admin.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: rock_paper_scissors_game/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: rock_paper_scissors_game.settings
